* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(59, 36, 36);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column; 
    align-items: center;
    background-color: rgb(22, 22, 22);
    height: 630px;
    width: 450px;
    border-radius: 16px;
    padding: 10px;
}


.display {
    display: flex;
    margin-top: 10px;
    background-color: rgb(60, 60, 60);
    height: 120px;
    width: 425px;
    border-radius: 16px;
}

.buttons {
    margin-top: 20px;
    display: grid;
    background-color:  rgb(60, 60, 60);
    grid-template-columns: repeat(4, 1fr); 
    gap: 10px; 
    padding: 10px;
    width: 400px; 
    border-radius: 16px;
}
.btn {
    background-color: lightgray;
    border-radius: 8px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.2s;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.btn:hover {
    background-color: darkgray;
}
